h1 {
    color: #118f7e;
    font-size: 2rem;
    font-weight: bold;
}

#containerRodape {
    background-image: linear-gradient(0deg, #118f7e, #94c5bf);
    color: #ffffff;
}

#contatoDesenvolvedor {
    text-decoration: none;
    color: #ffffff;
}

#containerRodape>a {
    color: #ffffff;
    text-decoration: none;
}

#linksRodape>ul>li>a {
    color: #ffffff;
    text-decoration: none;
}

#logomenu {
    background-color: #ffffff;
    border-radius: 30px;
}

.navbar-light {
    background-image: linear-gradient(0deg, #94c5bf, #118f7e);
    color: #ffffff;
}

.bg-light {
    color: #ffffff;
}

.active {
    background-color: #94c5bf;
    color: #ffffff;
}

#logo {
    background-color: white;
}

.corFundoMenu {
    background-image: linear-gradient(0deg, #94c5bf, #118f7e);
}

.corFontMenu {
    color: #ffffff;
}

.fone {
    width: 16px;
    height: 16px;
}