h1 {
    background-image: linear-gradient(0deg, #94c5bf,#118f7e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#containerRodape{
    background-color: #000000;
    color: #ffffff;
}
#linksRodape > ul > li > a{
    color: #ffffff;
    text-decoration: none;
}
#logomenu{
    background-color: #ffffff;
    border-radius: 30px;
}
.navbar-light{
    background-image: linear-gradient(0deg, #94c5bf,#118f7e);    
    color: #ffffff;
}
.bg-light{
    color: #ffffff;
}
.active{
    background-color: #94c5bf;
    color: #ffffff;
}
#logo{
    background-color: white;
}
.corFundoMenu {
    background-image: linear-gradient(0deg, #94c5bf,#118f7e);
}
.corFontMenu {
    color: #ffffff;
}
.jumbotron{
    background-color: #94c5bf;
}
.fone{
    width: 16px;
    height: 16px;
}